@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 100%;
    margin-bottom: 20px;
}

.fieldContainer {
    position: relative;
}

.field {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid $gray-400;
    outline: 0;
    font-size: 14px;
    @include font-montserrat-500;

    &::placeholder {
        color: $gray-500;
        font-size: 14px;
        @include font-montserrat-500;
    }

    &:disabled {
        cursor: not-allowed;
        border: 1px solid $gray-300;
        background-color: $gray-100;
    }

    &Error {
        border: 1px solid $red-1;
        background-color: $red-3;
    }
}

.iconContainer {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    transition: all 0.1s ease-out;

    &:hover {
        background-color: $indigo-50;
    }

    &:active {
        background-color: $indigo-100;
    }
}

.icon {
    width: 20px;
    height: 20px;

    path {
        fill: $indigo-500;
    }
}

.errorMessage {
    color: $red-1;
    margin-top: 4px;
    display: inline-block;
    @include font-montserrat-400;
    font-size: 12px;
}
