@import "../../../styles/variables.scss";

.container {
    transition: all 0.15s ease-out;
    box-shadow: inset 0px 0px 0px 5px transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .crossContainer {
        opacity: 0;
        pointer-events: none;
    }
}

.containerActive {
    box-shadow: inset 0px 0px 0px 5px $indigo-300;

    .crossContainer {
        opacity: 1;
        pointer-events: all;
    }
}

.containerDisabled {
    width: max-content;
}

.crossContainer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $indigo-300;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s ease-out;

    svg {
        width: 15px;
        height: 15px;
        pointer-events: none;

        path {
            fill: #ffffff;
        }
    }
}
