@import "../../../styles/variables.scss";

.container {
    width: 100%;
    box-sizing: border-box;
    transition: all 0.15s ease-out;
    border: 5px solid transparent;
    position: relative;
}

.containerActive {
    border: 5px solid $indigo-300;
}

.crossContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $indigo-300;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.15s ease-out;

    svg {
        pointer-events: none;

        path {
            fill: #ffffff;
        }
    }
}

.crossContainerActive {
    pointer-events: all;
    opacity: 1;
}

.TEXT {
    width: max-content;
}
