@import "../../../styles/variables.scss";

.container {
    border: 4px dashed transparent;
    position: relative;
    height: min-content;
    width: 100%;
    box-sizing: border-box;
}

.containerActive {
    border: 4px dashed $indigo-300;
    transition: all 0.15s ease-out;
    cursor: pointer;
}
