@import "../../../styles/variables.scss";

.link {
    color: $grey-500;
    text-decoration: none;
    transition: all ease 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $indigo-500;

        .icon {
            path {
                fill: $indigo-500;
            }
        }
    }
}

.icon {
    margin-right: 10px;

    path {
        fill: $grey-500;
        transition: all ease 0.15s;
    }
}
