@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $mobile-md-width;
    transition: all 0.3s;
}

.logo {
    height: 40px;

    svg {
        height: 40px;
        width: auto;
    }
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    display: none;
}

@include mobile-lg {
    .content {
        max-width: 750px;
    }
}

@include tablet {
    .content {
        max-width: 980px;
    }
}

@include desktop {
    .icon {
        display: block;
    }
}
