@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    transition: all 0.15s ease-out;
    background-color: $grey-50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.paragraph {
    @include font-regular-2xl;
    color: $grey-300;
    pointer-events: none;
    user-select: none;
}
