@import "./variables.scss";

@mixin font-100 {
    font-weight: 100;
}

@mixin font-200 {
    font-weight: 200;
}

@mixin font-300 {
    font-weight: 300;
}

@mixin font-400 {
    font-weight: 400;
}

@mixin font-500 {
    font-weight: 500;
}

@mixin font-600 {
    font-weight: 600;
}

@mixin font-700 {
    font-weight: 700;
}

@mixin font-800 {
    font-weight: 800;
}

@mixin font-900 {
    font-weight: 900;
}

@mixin mobile-sm {
    @media screen and (min-width: $mobile-sm-width) {
        @content;
    }
}

@mixin mobile-base {
    @media screen and (min-width: $mobile-base-width) {
        @content;
    }
}

@mixin mobile-md {
    @media screen and (min-width: $mobile-md-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}
