@import "./variables.scss";

// FONTS
@mixin font-sm {
    font-size: 12px;
    line-height: 16px;
}

@mixin font-base {
    font-size: 14px;
    line-height: 20px;
}

@mixin font-lg {
    font-size: 16px;
    line-height: 24px;
}

@mixin font-xl {
    font-size: 18px;
    line-height: 26px;
}

@mixin font-2xl {
    font-size: 20px;
    line-height: 28px;
}

@mixin font-3xl {
    font-size: 24px;
    line-height: 32px;
}

@mixin font-4xl {
    font-size: 32px;
    line-height: 36px;
}

@mixin font-5xl {
    font-size: 40px;
    line-height: 40px;
}

@mixin font-6xl {
    font-size: 48px;
    line-height: 48px;
}

@mixin font-7xl {
    font-size: 60px;
    line-height: 60px;
}

// FONTS REGULAR
@mixin font-regular-sm {
    @include font-sm;
    font-weight: 400;
}

@mixin font-regular-base {
    @include font-base;
    font-weight: 400;
}

@mixin font-regular-lg {
    @include font-lg;
    font-weight: 400;
}

@mixin font-regular-xl {
    @include font-xl;
    font-weight: 400;
}

@mixin font-regular-2xl {
    @include font-2xl;
    font-weight: 400;
}

@mixin font-regular-3xl {
    @include font-3xl;
    font-weight: 400;
}

@mixin font-regular-4xl {
    @include font-4xl;
    font-weight: 400;
}

@mixin font-regular-5xl {
    @include font-5xl;
    font-weight: 400;
}

@mixin font-regular-6xl {
    @include font-6xl;
    font-weight: 400;
}

@mixin font-regular-7xl {
    @include font-7xl;
    font-weight: 400;
}

// FONTS MEDIUM
@mixin font-medium-sm {
    @include font-sm;
    font-weight: 500;
}

@mixin font-medium-base {
    @include font-base;
    font-weight: 500;
}

@mixin font-medium-lg {
    @include font-lg;
    font-weight: 500;
}

@mixin font-medium-xl {
    @include font-xl;
    font-weight: 500;
}

@mixin font-medium-2xl {
    @include font-2xl;
    font-weight: 500;
}

@mixin font-medium-3xl {
    @include font-3xl;
    font-weight: 500;
}

@mixin font-medium-4xl {
    @include font-4xl;
    font-weight: 500;
}

@mixin font-medium-5xl {
    @include font-5xl;
    font-weight: 500;
}

@mixin font-medium-6xl {
    @include font-6xl;
    font-weight: 500;
}

@mixin font-medium-7xl {
    @include font-7xl;
    font-weight: 500;
}

// FONTS BOLD
@mixin font-bold-sm {
    @include font-sm;
    font-weight: 600;
}

@mixin font-bold-base {
    @include font-base;
    font-weight: 600;
}

@mixin font-bold-lg {
    @include font-lg;
    font-weight: 600;
}

@mixin font-bold-xl {
    @include font-xl;
    font-weight: 600;
}

@mixin font-bold-2xl {
    @include font-2xl;
    font-weight: 600;
}

@mixin font-bold-3xl {
    @include font-3xl;
    font-weight: 600;
}

@mixin font-bold-4xl {
    @include font-4xl;
    font-weight: 600;
}

@mixin font-bold-5xl {
    @include font-5xl;
    font-weight: 600;
}

@mixin font-bold-6xl {
    @include font-6xl;
    font-weight: 600;
}

@mixin font-bold-7xl {
    @include font-7xl;
    font-weight: 600;
}

// BREAK POINTS
@mixin mobile-sm {
    @media screen and (min-width: $mobile-sm-width) {
        @content;
    }
}

@mixin mobile-base {
    @media screen and (min-width: $mobile-base-width) {
        @content;
    }
}

@mixin mobile-md {
    @media screen and (min-width: $mobile-md-width) {
        @content;
    }
}

@mixin mobile-lg {
    @media screen and (min-width: $mobile-lg-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: $laptop-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-width) {
        @content;
    }
}

// OTHER
@mixin adaptiveWidth {
    width: 100%;
    max-width: $mobile-lg-width;

    @include mobile-lg {
        & {
            max-width: 750px;
        }
    }

    @include tablet {
        & {
            max-width: 980px;
        }
    }

    @include laptop {
        & {
            max-width: 1024px;
        }
    }

    @include desktop {
        & {
            max-width: 1440px;
        }
    }
}

@mixin adaptiveLayout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @include mobile-md {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include mobile-lg {
        & {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 40px;
        }
    }

    @include desktop {
        & {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 40px;
        }
    }
}
