@import "../../../styles/variables.scss";

.container {
    background-color: $grey-50;
    min-width: 200px;
    width: min-content;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.15s ease-out;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}