@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: $mobile-md-width;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
}

@include mobile-lg {
    .content {
        max-width: 750px;
    }
}

@include tablet {
    .content {
        max-width: 980px;
    }
}
