@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.content {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects {
    @include adaptiveLayout;
}

.project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.preview {
    border: 0;
    outline: 0;
    padding: 60px;
    background-color: $grey-200;
    cursor: pointer;
    transition: all ease 0.15s;
    border-radius: 4px;
    box-sizing: border-box;
}

.link {
    width: 100%;
}

.projectTitle {
    font-size: 18px;
    @include font-600;
}

@include desktop {
    .preview {
        &:hover {
            background-color: $grey-300;
            transform: scale(1.03);

            & .editButton {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    .editButton {
        opacity: 0;
        pointer-events: none;
        transition: all ease 0.15s;
    }
}
