@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.content {
    padding: 10px 20px;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
}

.message {
    font-size: 16px;
    @include font-600;
    white-space: nowrap;
    text-align: center;
}

.visible {
    bottom: 40px;
    opacity: 1;
    max-height: 200px;
    transition: all 0.1s ease-out;
}

.success {
    background-color: rgba($color: $green-2, $alpha: 0.9);
    color: #ffffff;
}

.warning {
    background-color: rgba($color: $orange-2, $alpha: 0.9);
    color: #ffffff;
}

.error {
    background-color: rgba($color: $red-1, $alpha: 0.9);
    color: #ffffff;
}
