.text {
    text-align: center;
    display: inline-block;
    font-size: 21px;
    padding: 0;
    background-color: transparent;
    width: auto;
    height: auto;
    font-weight: 700;
    border-radius: 0;
    overflow: visible;
}
