@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.preview {
    border: 0;
    outline: 0;
    padding: 20px;
    height: 200px;
    background-color: $grey-200;
    transition: all 0.15s ease-out;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 100%;
}

.projectTitle {
    text-align: center;
    @include font-bold-2xl;
}

.buttons {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: all 0.15s ease-out;
}

@include laptop {
    .preview {
        &:hover {
            background-color: $grey-300;

            .buttons {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .buttons {
        opacity: 0;
        transform: translate(0, 20px);
    }
}
