@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    background-color: $grey-50;
    min-width: 140px;
    width: min-content;
    height: calc(100vh - 75px);
    transition: all 0.15s ease-out;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 75px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.element {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: grab;
    transition: all 0.15s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    user-select: none;
    border: 0;

    &:active {
        cursor: grabbing;
        transform: scale(0.97);
    }
}

.icon {
    width: 30px;
    height: 30px;

    path {
        fill: $grey-500;
    }
}

.title {
    text-align: center;
    color: $grey-500;
    @include font-medium-base;
}

@include tablet {
    .container {
        display: flex;
    }
}
