@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.logo {
    margin-bottom: 30px;
}

@include mobile-lg {
    .container {
        background-color: $gray-50;
    }

    .content {
        max-width: $mobile-base-width;
        width: $mobile-base-width;
        border-radius: 4px;
        box-shadow: 0px 6px 28px -13px rgba($color: $gray-900, $alpha: 0.75);
    }
}
