@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.button {
    border-radius: 4px;
    width: 100%;
    outline: 0;
    cursor: pointer;
    transition: all 0.1s ease-out;
    user-select: none;
    @include font-600;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 20px;
    box-sizing: border-box;
}

.small {
    height: 28px;
    font-size: 12px;
}

.default {
    height: 36px;
    font-size: 14px;
}

.large {
    height: 44px;
    font-size: 16px;
}

.contained {
    background-color: $indigo-500;
    color: #ffffff;
    border: 0;

    &:hover {
        background-color: $indigo-800;
    }

    &:disabled {
        background-color: $gray-500;
        cursor: not-allowed;
    }
}

.outlined {
    background-color: #ffffff;
    border: 2px solid $indigo-500;
    color: $indigo-500;

    &:hover {
        background-color: $indigo-50;
        color: $indigo-800;
    }

    &:disabled {
        background-color: $gray-300;
        border: 2px solid $indigo-300;
        color: $indigo-300;
        cursor: not-allowed;
    }
}

.text {
    border: 0;
    background-color: transparent;
    color: $indigo-500;

    &:hover {
        background-color: $indigo-50;
        color: $indigo-800;
    }

    &:disabled {
        background-color: #ffffff;
        cursor: not-allowed;
        color: $indigo-300;
    }
}

.link {
    border: 0;
    background-color: transparent;
    color: $indigo-500;

    &:hover {
        color: $indigo-800;
        text-decoration: underline;
    }

    &:disabled {
        background-color: #ffffff;
        cursor: not-allowed;
        color: $indigo-300;
        text-decoration: none;
    }
}

.loadingsmall {
    width: 18px;
}
