@import "../../../styles/variables.scss";

.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.socialButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialIconContainer {
    padding: 10px;
}

.socialIcon {
    width: 25px;
    height: 25px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.link {
    font-size: 14px;
    white-space: nowrap;
}
