@import "../../../styles/mixins.scss";

.container {
    width: 100%;
}

.content {
    width: 100%;
}

.builder {
    padding: 16px;
    overflow-y: scroll;
}

@include tablet {
    .container {
        display: grid;
        grid-template-columns: 140px 1fr;
    }
}
