@import "../../../styles/mixins.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    position: relative;
}

.content {
    display: flex;
    gap: 20px;
    flex: 1;
}

.builder {
    padding: 15px 20px 20px;
    flex: 1;
}

@include tablet {
    .builder {
        padding: 15px 20px 20px 0;
    }
}
