.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    position: relative;
}

.content {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    flex: 1;
}
